* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightsteelblue;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    line-height: 1.3;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 3px solid steelblue;
    box-shadow: 3px 3px 10px 12px gray;
    background-color: white;
}

blockquote {
    margin: 0px 15% 20px;
    border-left: 8px solid steelblue;
    padding: 7px;
    background-color: rgb(203, 220, 243);
}

header {
    display: flex;
    align-items: center;
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(to left, steelblue, white);
}

header h2 {
    font-size: 300%;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px 15px gray;
}

a:link, a:visited {
    color: steelblue;
}

a:hover, a:active {
    color: maroon;
}

aside a, aside a:visited {
    font-weight: bold;
    color: maroon;
}

aside h2 {
    padding-top: 20px;
}

aside ul {
    margin-left: 8%;
    padding-left: 5%;
    line-height: 1.5;
}

main {
    display: flex;
}

section {
    max-width: 75%;
}

section p {
    margin: 0px 3% 20px;
}

section h2, section h4, aside h2 {
    margin: 0px 3% 20px;
}

h1 {
    margin-left: 3%;
}

h4 {
    font-weight: normal;
}

footer {
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

footer p {
    padding: 20px 0;
    font-variant: small-caps;
}